POSTGRES_USER=gachiga
POSTGRES_PASSWORD=gachiga
POSTGRES_DB=gachiga

DATABASE_URL=postgresql+psycopg2://gachiga:gachiga@db:5432/gachiga
REDIS_URL=redis://redis:6379/0

JWT_SECRET_KEY=changeme
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
